# Introduction to Pandas
# SOLUTIONS

## ðŸ¥Š Challenge: Locating the Right Library

You want to select a random value from a list of data.

1. What [standard library](https://docs.python.org/3/library/) would you most expect to help? Look at the documentation and find it.
2. Which **function** would you select from that library? ðŸ’¡ **Tip**: Look at "Functions for sequences" in the documentation.
3. Import the library, and apply the function to the following list.

In [6]:
ids = [1, 2, 3, 4, 5, 6]

In [8]:
# YOUR CODE HERE
import random

random.choice(ids)

1

## ðŸ¥Š Challenge: `.describe()`

Use the `.describe()` method to find the average review score for all albums in this dataset.

In [35]:
## YOUR CODE HERE

music.describe()
# mean = 72.684223

             score
count  5001.000000
mean     72.684223
std       8.714896
min       7.400000
25%      68.000000
50%      74.000000
75%      79.000000
max     100.000000

Rename the "album" column name to "ALBUM" and the "body" column name to "Body".

In [45]:
## YOUR CODE HERE

music.rename(columns={'album': 'ALBUM', 'body': 'Body'}, inplace=True)

In [46]:
# See if it worked
music.head()

,ALBUM,artist,genre,release_date,critic,score,Body
0,Don't Panic,All Time Low,Pop/Rock,2012-10-09 00:00:00,Kerrang!,74.0,While For Baltimore proves they can still writ...
1,Fear and Saturday Night,Ryan Bingham,Country,2015-01-20 00:00:00,Uncut,70.0,There's nothing fake about the purgatorial nar...
2,The Way I'm Livin',Lee Ann Womack,Country,2014-09-23 00:00:00,Q Magazine,84.0,All life's disastrous lows are here on a caree...
3,Doris,Earl Sweatshirt,Rap,2013-08-20 00:00:00,Pitchfork,82.0,"With Doris, Odd Futureâ€™s Odysseus is finally b..."
4,Giraffe,Echoboy,Rock,2003-02-25 00:00:00,AllMusic,71.0,Though Giraffe is definitely Echoboy's most im...

## ðŸ¥Š Challenge: Slice It! 

Slice music to return just the 3rd, 4th, and 5th reviews (note that they start on 0).

In [52]:
## Using loc
music.loc[2:4]

,ALBUM,artist,genre,release_date,critic,score,Body
2,The Way I'm Livin',Lee Ann Womack,Country,2014-09-23 00:00:00,Q Magazine,84.0,All life's disastrous lows are here on a caree...
3,Doris,Earl Sweatshirt,Rap,2013-08-20 00:00:00,Pitchfork,82.0,"With Doris, Odd Futureâ€™s Odysseus is finally b..."
4,Giraffe,Echoboy,Rock,2003-02-25 00:00:00,AllMusic,71.0,Though Giraffe is definitely Echoboy's most im...

In [53]:
## Using iloc
music.iloc[2:5]

,ALBUM,artist,genre,release_date,critic,score,Body
2,The Way I'm Livin',Lee Ann Womack,Country,2014-09-23 00:00:00,Q Magazine,84.0,All life's disastrous lows are here on a caree...
3,Doris,Earl Sweatshirt,Rap,2013-08-20 00:00:00,Pitchfork,82.0,"With Doris, Odd Futureâ€™s Odysseus is finally b..."
4,Giraffe,Echoboy,Rock,2003-02-25 00:00:00,AllMusic,71.0,Though Giraffe is definitely Echoboy's most im...

In [54]:
## Using slicing
music[2:5]

,ALBUM,artist,genre,release_date,critic,score,Body
2,The Way I'm Livin',Lee Ann Womack,Country,2014-09-23 00:00:00,Q Magazine,84.0,All life's disastrous lows are here on a caree...
3,Doris,Earl Sweatshirt,Rap,2013-08-20 00:00:00,Pitchfork,82.0,"With Doris, Odd Futureâ€™s Odysseus is finally b..."
4,Giraffe,Echoboy,Rock,2003-02-25 00:00:00,AllMusic,71.0,Though Giraffe is definitely Echoboy's most im...

## ðŸ¥Š Challenge: `iloc`

Use `.iloc` to return just reviews at index 1, 82, 988, 4002. Also return the last review - without looking up what the last index is!.

In [57]:
## YOUR CODE HERE
music.iloc[[1,82,988,4002,-1]]

,ALBUM,artist,genre,release_date,critic,score,Body
1,Fear and Saturday Night,Ryan Bingham,Country,2015-01-20 00:00:00,Uncut,70.0,There's nothing fake about the purgatorial nar...
82,Neon Bible,Arcade Fire,Indie,2007-03-06 00:00:00,Prefix Magazine,87.0,Some Funeral devotees may be disappointed by t...
988,Until The Earth Begins To Part,Broken Records,Indie,2009-07-07 00:00:00,AllMusic,64.0,"As far as debut albums go, Until the Earth Beg..."
4002,Reptile,Eric Clapton,Rock,2001-03-13 00:00:00,Rolling Stone,66.0,"Over the course of fourteen tracks, Clapton bl..."
5000,And Their Refinement Of The Decline,Stars Of The Lid,Rock,2007-04-07 00:00:00,PopMatters,87.0,"Their work, especially that displayed on Refin..."

## ðŸ¥Š Challenge: `iloc` Slice and Stride

Use `.iloc` to return every 40th album between reviews 20 and 200 (including the upper bound).

In [58]:
## YOUR CODE HERE

music.iloc[20:200:40]

,ALBUM,artist,genre,release_date,critic,score,Body
20,July Flame,Laura Veirs,Indie,2010-01-12 00:00:00,musicOMH.com,81.0,Laura Veirs makes an excellent case for hersel...
60,Angels & Devils,The Bug,Electronic,2014-08-26 00:00:00,The Quietus,83.0,An album that's otherwise remarkably deft at u...
100,Pilot Talk III,Curren$y,Rap,2015-04-04 00:00:00,bossmanrwat11,78.0,"Big Spitta fan here, but his remarkable consis..."
140,A Thousand Shark's Teeth,My Brightest Diamond,Indie,2008-06-17 00:00:00,PopMatters,72.0,"Itâ€™s a swooning, big-gestured album to get los..."
180,Television Man,Naomi Punk,Pop/Rock,2014-08-05 00:00:00,Rolling Stone,71.0,"Sure, the songs' formulaic stop-and-spurt atta..."

## ðŸ¥Š Challenge: `iloc` Rows and Columns

Use `iloc` to extract the last five rows in the music data set but only the "artist", "ALBUM", and "score" columns - in that order!

ðŸ’¡ **Tip**: Remember how to select columns using `iloc`? If not, go back [here](#iloc-select).

In [61]:
## YOUR CODE HERE

music.iloc[-5:,[1,0,5]]

,artist,ALBUM,score
4996,Conor Oberst And The Mystic Valley Band,Outer South,67.0
4997,David Gilmour,On An Island,67.0
4998,Gossip,Movement,81.0
4999,Dr. John,Locked Down,86.0
5000,Stars Of The Lid,And Their Refinement Of The Decline,87.0

## ðŸ¥Š Challenge: `.loc` Rows and Columns 

Use `loc` to extract the first 5 rows in your DataFrame â€“ but only the "artist", "ALBUM", and "score" columns - in that order!

In [65]:
## YOUR CODE HERE

music.loc[:4, ['artist','ALBUM','score']]

            artist                    ALBUM  score
0     All Time Low              Don't Panic   74.0
1     Ryan Bingham  Fear and Saturday Night   70.0
2   Lee Ann Womack       The Way I'm Livin'   84.0
3  Earl Sweatshirt                    Doris   82.0
4          Echoboy                  Giraffe   71.0

## ðŸ¥Š Challenge: Create New Column

Create a new column in your DataFrame named "score_int" that is a copy of "score" - but converted to an integer. 

ðŸ’¡ **Tip**: Look up a Pandas method to change the datatype of a column!

In [68]:
## YOUR CODE HERE

music['score_int'] = music['score'].astype(int)

## ðŸ¥Š Challenge: Create New Column with Calculation

Create a new column in your DataFrame named "decimal" that is a copy of "score_int" but that is divided by 100.

In [69]:
## YOUR CODE HERE

music['decimal'] = music['score_int'] / 100

## ðŸ¥Š Challenge: `.value_counts()`

Use `.value_counts()` to sum the total number of reviews for each critic. Return only the top 20. 

ðŸ’¡ **Tip**: Have another look at the original DataFrame if you need to remind yourself which column can be useful here!

In [78]:
## YOUR CODE HERE

music['critic'].value_counts()[:20]

AllMusic                     282
PopMatters                   228
Pitchfork                    207
Q Magazine                   178
Uncut                        171
Mojo                         137
Drowned In Sound             132
New Musical Express (NME)    127
The A.V. Club                121
Rolling Stone                112
Under The Radar              100
Spin                          97
The Guardian                  96
musicOMH.com                  88
Entertainment Weekly          87
Slant Magazine                83
Paste Magazine                72
Alternative Press             69
Consequence of Sound          69
Prefix Magazine               68
Name: critic, dtype: int64

## ðŸ¥Š <span style="color:red">Bonus Challenge:</span> `.value_counts()`

If you are done and still have time, go have a look at the [`groupby()` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html). Try to use it in order to answer the following question:

#### *Which genre has the highest score?*

ðŸ’¡ **Tip**: 
* Use the `.groupby()` method on your DataFrame to sort it by `genre`. Save it in a variable.
* Subset this variable (use the square brackets!) to get the `score` column.
* Use the `.mean()` method on this subset to get the **average score** per genre.

In [80]:
# YOUR CODE HERE
genre = music.groupby('genre')
genre['score'].mean()

genre
Alternative/Indie Rock    73.928571
Country                   74.071429
Dance                     70.146341
Electronic                73.140351
Folk                      75.900000
Indie                     74.400897
Jazz                      77.631579
Pop                       64.608054
Pop/Rock                  73.033782
R&B;                      72.366071
Rap                       72.173554
Rock                      70.754292
Name: score, dtype: float64