# Python Fundamentals II: Control Flow and Functions
# SOLUTIONS

## ðŸ¥Š Challenge 1: Fixing Loop Syntax

The following block of code contains **three errors** that are preventing it from running properly. What are the errors? How would you fix them?

In [ ]:
for number in [2, 3, 5]
print(n)

## ðŸ¥Š Challenge 2: Looping Through a Series

We can loop through a `pandas` Series just like we can through a list.

Let's do this for the following DataFrame, which contains a bunch of mountains and their elevation in feet. Proceed as follows:

1. Extract the column `elevation` as a Series.
2. Loop through the series using a `for` loop.
3. Convert each value to meters using the conversion: 1 ft = .304 m.
4. Print the results.

In [ ]:
import pandas as pd

mountains_df = pd.DataFrame(
    {'mountain': ['Mt. Whitney',
                  'Mt. Williamson',
                  'White Mountain Peak',
                  'North Palisade',
                  'Mt. Shasta',
                  'Mt. Humphreys'],
     'range': ['Sierra Nevada',
               'Sierra Nevada',
               'White Mountains',
               'Sierra Nevada',
               'Cascade Range',
               'Sierra Nevada'],
     'elevation': [14505, 14379, 14252, 14248, 14179, 13992]}
)

mountains_df

              mountain            range  elevation
0          Mt. Whitney    Sierra Nevada      14505
1       Mt. Williamson    Sierra Nevada      14379
2  White Mountain Peak  White Mountains      14252
3       North Palisade    Sierra Nevada      14248
4           Mt. Shasta    Cascade Range      14179
5        Mt. Humphreys    Sierra Nevada      13992

In [ ]:
# YOUR CODE HERE
for each in mountains_df['elevation']:
    print(each * .304)

4409.5199999999995
4371.215999999999
4332.608
4331.392
4310.416
4253.568

## ðŸ¥Š Challenge 3: Aggregation Practice

Below are a few examples showing the different types of quantities you might aggregate using a for loop. These loops are partially filled out. Finish them and test that they work!

1. Find the total length of the strings in the given list. Store this quantity in a variable called `total`.

In [1]:
total = 0
words = ['red', 'green', 'blue']

for w in words:
     total = total + len(w)

print(total)

12

2. Find the length of each word in the list, and store these lengths in another list called `lengths`.

In [2]:
lengths = []
words = ['red', 'green', 'blue']

for w in words:
    lengths.append(w)

print(lengths)

['red', 'green', 'blue']

3. Concatenate all words into a single string called `result`.

In [6]:
words = ['red', 'green', 'blue']
result = ''

for w in words:
    result += w

print(result)

redgreenblue

4. Create an acronym, as a single string, representing the list of words. Each part of the acronym should consist of the first letter of each word, capitalized. For example, your loop should output `"RGB"` for the input `["red", "green", "blue"]`. For this one, write the entire loop yourself!

In [1]:
words = ['red', 'green', 'blue']

# YOUR CODE HERE

''.join([each[0].upper() for each in words])

'RGB'

## ðŸ¥Š Challenge 4: Conditionals and Aggregation
Below, we've created a list of US Presidents. Create a new list containing all Presidents whose first name starts with the letter J. How many presidents are on this list?

**Hint:** The `.split()` string function will be useful for this. Also, remember that strings are indexed: you can access any character of the string using bracket notation!

In [8]:
presidents = [
    "George Washington",
    "John Adams",
    "Thomas Jefferson",
    "James Madison",
    "James Monroe",
    "John Quincy Adams",
    "Andrew Jackson",
    "Martin Van Buren",
    "William Henry Harrison",
    "John Tyler",
    "James K. Polk",
    "Zachary Taylor",
    "Millard Fillmore",
    "Franklin Pierce",
    "James Buchanan",
    "Abraham Lincoln",
    "Andrew Johnson",
    "Ulysses S. Grant",
    "Rutherford B. Hayes",
    "James A. Garfield",
    "Chester A. Arthur",
    "Grover Cleveland",
    "Benjamin Harrison",
    "Grover Cleveland",
    "William McKinley",
    "Theodore Roosevelt",
    "William Howard Taft",
    "Woodrow Wilson",
    "Warren G. Harding",
    "Calvin Coolidge",
    "Herbert Hoover",
    "Franklin D. Roosevelt",
    "Harry S. Truman",
    "Dwight D. Eisenhower",
    "John F. Kennedy",
    "Lyndon B. Johnson",
    "Richard Nixon",
    "Gerald Ford",
    "Jimmy Carter",
    "Ronald Reagan",
    "George H. W. Bush",
    "Bill Clinton",
    "George W. Bush",
    "Barack Obama",
    "Donald Trump",
    "Joe Biden"]

In [12]:
last_name = []
for p in presidents:
    if p[0] == 'J':
        last_name.append(p)
print(len(last_name))

11