# Python Fundamentals II: Data Analysis and Visualization
# SOLUTIONS

## ðŸ¥Š Challenge 1: My First Function

Write a function that converts Celsius temperatures to Fahrenheit. The formula for this conversion is:

$$F = 1.8 * C + 32$$

You can name this function whatever you want. But it makes sense to name it something sensible!

In [16]:
def convert_temp(celcius):
    # write your code here
    return(celcius * 1.8 + 32)

convert_temp(32)

89.6

## ðŸ¥Š Challenge 2: My Second Function

Say you need to write a function that takes in a list of text data. We've defined a list for you here.

In [2]:
sent_list = ['When I wake up, the other side of the bed is cold.', 
             'My fingers stretch out, seeking Primâ€™s warmth but finding only the rough canvas cover of the mattress.',
             'She must have had bad dreams and climbed in with our mother.']

Your function is supposed to loop through this list, and for each item, split the words on whitespace, lowercase all items in the list. The function must return all lowercased words in a new list. 
**Use the discussed strategies** to write your code:

1. Use comments to indicate what your code is doing.
2. Use short lines.
3. Make use of Pythonic coding when splitting and lowercasing.
4. Use the common naming conventions we define above.
5. Plan ahead: write down your goals in comments before you write the code!

ðŸ’¡ **Tip**: This function will require two (nested) for-loops!

In [3]:
# YOUR CODE HERE
def words(l):
    lowers = []
    for each in l:
        words = each.split()
        for w in words:
            lowers.append(w.lower())
    return lowers

words(sent_list)

['when',
 'i',
 'wake',
 'up,',
 'the',
 'other',
 'side',
 'of',
 'the',
 'bed',
 'is',
 'cold.',
 'my',
 'fingers',
 'stretch',
 'out,',
 'seeking',
 'primâ€™s',
 'warmth',
 'but',
 'finding',
 'only',
 'the',
 'rough',
 'canvas',
 'cover',
 'of',
 'the',
 'mattress.',
 'she',
 'must',
 'have',
 'had',
 'bad',
 'dreams',
 'and',
 'climbed',
 'in',
 'with',
 'our',
 'mother.']

## ðŸ¥Š Challenge 3: Checking Method Output

For each of the following methods, what type is the output?

In [6]:
import pandas as pd
df = pd.read_csv('../../data/gapminder-FiveYearData.csv')

In [8]:
# This is a Series
type(df['lifeExp'].value_counts(ascending=True))

pandas.core.series.Series

In [10]:
# This is a DataFrame
type(df.isnull())

pandas.core.frame.DataFrame

In [11]:
# This is also a dataframe
type(df.dropna())

pandas.core.frame.DataFrame

In [12]:
# This is a Series
type(df['country'].str[:4])

pandas.core.series.Series

## ðŸ¥Š Challenge 4: Categorical to Numeric data

Recall that in our dataset, we have a 'continent' column that includes the values 'Asia', 'Europe', 'Africa', 'Americas', and 'Oceania'. Let's say that for a model, we want to replace these string values with numbers that will serve as input to the model. There are several ways to do this. Look at the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.html) and see if you can `replace` the strings with a corresponding number.

In [51]:
#YOUR CODE HERE
df.continent.replace(df['continent'].unique(), [1,2,3,4,5])

0       1
1       1
2       1
3       1
4       1
       ..
1699    3
1700    3
1701    3
1702    3
1703    3
Name: continent, Length: 1704, dtype: int64